.Listing{
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 400px;
    

}
.downn{
    text-align: center;
}

.listing-box{
   
    height: 200Px;
    width: 300px;
    border-radius: 55px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.one{
    background-image: url('../assets/all-images/IMG-20240527-WA0029.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 170px  0px 0px 300px ;
}
.two{
    background-image: url('../assets/all-images/anni1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.three{
    background-image: url('../assets/all-images/IMG-20240527-WA0025.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.up{
   
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    height: 160px;
}
.upp h5{
    color: orange;
    font-size: 25px;
   
}
.downn h4 {
    color: darkblue;
    font-weight: bolder;
    font-size: 40px;
}
 
.one :hover{
background-color: red;
}

.organisateur{
  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 250px;
}
.organisateur h3{
    cursor: pointer;
    color: darkblue;
    font-weight: bolder;
}
.wedd :hover{
    color: orange;
}

.other :hover{
    color:orange;
}

